Cython
numpy
numba==0.56.4
pandas
transformers
gdown
scipy==1.11.1
scikit-learn
scikit-image
tensorboard
tensorboardX
python_speech_features
resampy
opencv_python
face_alignment
matplotlib
configargparse
librosa==0.9.2
praat-parselmouth
trimesh
kornia==0.5.0
PyMCubes
lpips
setuptools
ffmpeg-python
moviepy
dearpygui
ninja
pyaudio
mediapipe
protobuf
decord
soundfile
pillow
av
timm
pretrainedmodels
faiss-cpu
einops

# conditional flow matching
beartype
torchode
torchdiffeq

# tts
cython
textgrid
pyloudnorm
websocket-client
pyworld==0.2.1rc0
pypinyin==0.42.0
webrtcvad
torchshow

# cal spk sim
s3prl
fire

# cal LMD
dlib

# debug
ipykernel

# lama
hydra-core
pytorch_lightning
setproctitle

# Gradio GUI
httpx==0.23.3
gradio==4.16.0
httpx[socks]

# GFPGAN
basicsr
facexlib
gfpgan
realesrgan